<div class="modal fade" id="pasModal" ng-controller="AuthController" layout-padding>
  <div class="modal-dialog">
    <div class="modal-content card">

      <div layout-align="start center" layout="column" class="panel-title brand-color">
        <h2 class="md-title">Change Password</h2>
      </div>

      <br>
      <form class="autoScroll partial" ng-submit="changePassword(user)">
        <md-input-container class="md-block">
          <label>Email</label>
          <input type="email" ng-model="user.email" class="form-control" required>
        </md-input-container>
        <md-input-container class="md-icon md-block">
          <label>Old Password</label>
          <input type="password" ng-model="user.oldPass" class="form-control" required>
        </md-input-container>
        <md-input-container class="md-icon md-block">
          <label>New Password</label>
          <input type="password" ng-model="user.newPass" class="form-control" required>
        </md-input-container>
        <input type="submit" value="Update" class="md-button md-raised brand-color">
      </form>
      <br>

    </div>
  </div>
</div>
