

<div class="modal fade" id="conModal" ng-controller="BrowseController" layout-padding>
  <div class="modal-dialog">
    <div class="modal-content card">

      <div layout-align="start center" layout="column" class="panel-title brand-color">
        <h2 class="md-title">Delete this idea?</h2>
      </div>

      <br>
      <md-content layout="row" layout-align="center center">
        <md-button ng-click="cancelIdea(selectedIdea.$id)" class="md-raised brand-color">Confirm</md-button>
      </md-content>
      <br>

    </div>
  </div>
</div>
