<div class="modal fade" ng-controller="IdeaController" id="ediModal" layout-padding>
  <div class="modal-dialog">
    <div class="modal-content card">

      <div layout-align="start center" layout="column" class="panel-title brand-color">
        <h2 class="md-title">Edit Idea</h2>
      </div>

      <br>
      <form class="autoScroll popup" ng-submit="editIdea(selectedIdea)">
        <md-input-container class="md-icon-float md-block">
          <label>Project Name</label>
          <input type="text" ng-model="selectedIdea.title" class="form-control" placeholder="Project Idea Title" required>
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <label>Project Description</label>
          <textarea ng-model="selectedIdea.description" row="3" class="form-control" placeholder="Tell everyone about the problem you want to approach and your project idea :)" required></textarea><br>
        </md-input-container>
        <input type="submit" value="Update" class="md-button md-raised brand-color">
      </form>
      <br>

    </div>
  </div>
</div>
