<div class="row">

	<!-- Left Panel -->
	<div class="col-md-offset-1 col-md-4">

		<div class="list-group">
				<!-- Search -->
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</div>
						<md-input-container class="md-block">
			      	<input type="text" ng-model="searchIdea" class="form-control" placeholder="Search">
						</md-input-container>
			    </div>
				</div>

				<!-- Idea List -->
				<a ng-repeat="idea in ideas | filter: {title: searchIdea , status: '!deleted'} | orderBy: 'datetime':true" ng-href="#/browse/{{idea.$id}}">
					<div class="list-group-item">
				        <div class="row-picture">
				            <img class="circle" ng-src="{{idea.gravatar}}">
				        </div>
				        <div class="row-content">

				            <h4 class="list-group-item-heading">{{idea.title | limitTo:25}}{{ idea.title.length > 25? "..." : ""}}</h4>
				            <div class="list-group-item-text">
											<span class="list-group-item-text">{{idea.description | limitTo:83}}{{ idea.description.length > 83? "..." : ""}}</span>

				            </div>
									</div>
									<br>
			    	<div class="list-group-separator"></div>
						<br>
		    	</a>
				</div>
		</div>

	</div>

	<!-- Right Panel -->
	<div class="col-md-6">
		<div ng-show="listMode">
			<img src="images/browse.jpg" class="img-responsive img-browse">
		</div>

		<div ng-show="!listMode">

			<!-- Header -->
			<div class="row">
				<div class="col-md-8">
					<h3><strong>{{ selectedIdea.title }}</strong></h3>
					<span>
						<img ng-src="{{ selectedIdea.gravatar }}" class="img-circle gravatar">
						Posted by {{ selectedIdea.name }} -
						<span am-time-ago="selectedIdea.datetime"></span>&nbsp;
					</span>
				</div>

				<div class="col-md-4 title">

					<md-menu ng-show="isIdeaCreator(selectedIdea) && isOpen(selectedIdea)">
            <md-button class="md-raised md-warn brand-color" ng-click="$mdOpenMenu()">
              Admin
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button data-toggle="modal" data-target="#ediModal">
                  Edit Idea
                </md-button>
								<md-button ng-click = "cancelIdea(selectedIdea.$id)">
									Delete Idea
								</md-button>
              </md-menu-item>
						</md-menu-content>
					</md-menu>

            <!-- Join Button -->
            <div ng-show = "isOpen(selectedIdea) && !isIdeaCreator(selectedIdea) && !alreadyJoined">
              <form ng-submit="makeJoin()">
                <md-button type="submit" value="Join This Team" class="md-raised md-warn brand-color" ng-disabled = "joins && joins.length > 3 || joins.ideaId.uid > 0 || $parent.block" ng-hide = "joins && joins.length > 3">Join This Team</md-button>
              </form>
							<form>
                <md-button value="TEAM IS FULL" class="md-raised md-warn" ng-disabled = "true" ng-hide = "joins && joins.length < 4" >TEAM IS FULL</md-button>
							</form>
            </div>

				</div>
			</div>

			<br>

			<!-- Description -->
			<div class="row">
				<div class="col-md-12">
						<md-card class="panel-info">
					    <div class="panel-heading brand-color">
					        <h3 class="panel-title">Idea Description</h3>
					    	</div>
					    <div class="panel-body">
					        {{ selectedIdea.description }}
					    </div>
						</md-card>
				</div>
			</div>

      <!-- Join Team -->
			<div class="row">
				<div class="col-md-12">
					<md-card class="panel-info">
							<div class="panel-heading brand-color">
									<h3 class="panel-title">Team</h3>
							</div>

					    <div class="panel-body">

								<div class="title" ng-hide="joins && joins.length > 0">
									<span>There are four spots left on this team! Interested in the idea? Get involved by joining above :)</span>
								</div>
								<br>

								<img ng-src="{{ selectedIdea.gravatar }}" class="img-circle gravatar">
								<span>{{ selectedIdea.name }}</span>

								<div class="row" ng-repeat="join in joins">
									<div class="col-md-10">

										<br>
										<img ng-src="{{join.gravatar}}" class="img-circle gravatar">
										<span>{{join.name}}</span>

										<md-button ng-show="isJoinMaker(join) && isOpen(selectedIdea)" class="md-raised md-warn" ng-click="cancelJoin(join.$id)">Leave Team</md-button>
                    <br>
									</div>
								</div>
					    </div>
						</md-card>
					</div>
				</div>

      <!-- Comments -->
    <div class="row">
      <div class="col-md-12">
				<md-card class="panel-info">
						<div class="panel-heading brand-color">
								<h3 class="panel-title">Comments</h3>
            </div>

            <div class="panel-body">
              <div class="title" ng-hide="comments && comments.length > 0">
                <span>No comments yet. Let the creator know what you think of their idea!</span>
              </div><br>

              <div class="row" ng-repeat="com in comments">
                <div class="col-md-1">
                  <img ng-src="{{com.gravatar}}" class="img-circle comment gravatar">
                </div>
                <div class="col-md-11">
                  <div class="well well-sm cmt">
                    <span class="cmt-title">{{com.name}}:</span>
                    <span class="cmt-time pull-right"><span am-time-ago="com.datetime"></span></span><br>

                    <span>{{com.content}}</span>
                  </div>
                </div>
              </div><br>

              <div class="row" ng-show="isOpen(selectedIdea)">
                <div class="col-md-12">
                  <form ng-submit="addComment()">

                    <div class="input-group">
                      <div class="input-group-addon">
                        <img ng-src="{{ user.profile.gravatar }}" class="img-circle comment gravatar">
                      </div>
											<md-input-container class="md-block">
                      	<input type="text" ng-model="content" cols="10" rows="3" class="form-control" placeholder="Comment here..." required><br>
											</md-input-container>
										</div>

                    <span class="pull-right comment">
                      <md-button type="submit" class="md-warn md-raised brand-color" value="Comment">Comment</md-button>

										</span>
                  </form>
                </div>
              </div>

            </div>
					</md-card>
        </div>
      </div>

</div>

</div>

<div ng-include="'views/partials/edit.html'"></div>
<div ng-include="'views/partials/join.html'"></div>
