<nav class="footer brand-color">
  <div class="container-fluid">

    <div style="display:inline;">
        <ul class="icons">
          <md-button aria-label="Facebook" class="md-fab md-raised md-mini" target="_blank" ng-href="https://www.facebook.com/ButlerASATT/?fref=ts">
            <ng-md-icon icon="facebook" style="fill: #43609F" size="30"></ng-md-icon>
          </md-button>
          <md-button aria-label="Twitter" class="md-fab md-raised md-mini" target="_blank" ng-href="https://twitter.com/SeatOhio">
            <ng-md-icon icon="twitter" style="fill: #059FF5" size="31"></ng-md-icon>
          </md-button>
          <md-button aria-label="LinkedIn" class="md-fab md-raised md-mini" target="_blank" ng-href="https://www.linkedin.com/company/seat-at-the-table">
            <ng-md-icon icon="linkedin" style="fill: #0F86BF" size="31"></ng-md-icon>
          </md-button>
        </ul>
      </div>

  </div>
</nav>
