<div class="cover2">
  <md-content class="backgroundimage"></md-content>
</div>

<div style="text-align:center;" class="bg-1 home-page">
    <div class="title home-page">
      <h1 class="title2"><strong>Hack For a Cause</strong></h1>
      <br>
      <p class="md-headline" style="font-size: 30px;">Changing the way young people interact with their community and political system one idea at a time</p>
    </div>
    <br>
    <h2 class="sponsor-title">Sponsors: </h2>
    <div class="sponsors" layout="row" layout-xs="column" layout-align="center center">

      <div flex class="sponsor-microsoft" layout-margin layout-align="center center">
        <img class="sponsor" ng-src="images/msftlogo.png" />
      </div>

      <div flex class="sponsor-seat" layout-margin layout-align="center center">
        <img class="sponsor" ng-src="images/seatwhite.png" />
      </div>

      <div flex class="sponsor-miami" layout-margin layout-align="center center">
        <img class="sponsor" ng-src="images/miamilogo.png" />
      </div>

    </div>
</div>

<div class="bg-2">
  <div style="background: transparent;">
    <br>
    <md-content flex layout-padding style="text-align:center; background: transparent;" class="home-page">
      <h2 class="title2"><strong>What is the SEAT Hackathon?</strong></h2>
      <p>The SEAT Hackathon is an event where passionate developers and designers get together in one space and build things for 30 hours straight.
         The objective is not only to build amazing applications, but also to contribute to society and make change you want to see in your own communities.
         We’ll provide the food, space, judges, and mentors - all you have to do is show up with a laptop and a passion for making things.</p>
    </md-content>
  </div>
</div>

<div class="bg-3">
  <md-content style="text-align:center; display:inline; background: transparent;" class="home-page cf" layout="row">
    <h2 class="title2"><strong>Event Schedule</strong></h2>
    <h4>Location: Miami University <br><br>We are also accepting remote teams (more details to come)!</h4>
    <br>

    <div layout="row"  layout-sm="column" layout-xs="column">
      <div flex class="eventcard animation-block slide-left schedule" style="background: transparent;">
          <div class="home-page">
            <h2><strong>tbd</strong></h2>
            <br>
          </div>
          <md-divider class="divider"></md-divider>
        <div class="home-page">
          <p>9:00am - Check-in</p>
          <p>9:45am - Mike Flores (SEAT Chairman)</p>
          <p>12:00pm - Lunch & Networking</p>
          <p>4:00pm - Matt Stempeck (Microsoft)</p>
          <p>5:00pm - Dinner & Networking</p>
        </div>
      </div>

      <br>

      <div flex class="eventcard animation-block slide-left schedule" style="background: transparent;">
          <div class="home-page">
            <h2><strong>tbd</strong></h2>
            <br>
          </div>
          <md-divider class="divider"></md-divider>
        <div class="home-page">
          <p>7:00am - Breakfast</p>
          <p>12:00pm - Lunch & Networking</p>
          <p>3:30pm - Final Presentations</p>
          <p>4:30pm - Jonathan Marks (Quorum)</p>
          <p>5:15pm - Winners Announced</p>
        </div>
      </div>
    </div>
  </md-content>
</div>

<div class="bg-4">
  <div flex layout-padding layout-margin style="text-align:center;" class="home-page">
    <!--
    <h2 class="title3"><strong>Get Started</strong></h2>
    <p>1. Here's the deal: you need to sign up (for free!) to participate in the Hackathon. </p>
    <p>2. We would love to have all the ideas & projects on the site so your group can collaborate before the event</p>
    <p>3. Once you click below and register, you'll see a list of ideas. Then, join an idea or create your own! :)</p>
  -->
    <h2 class="title3">Keep an eye out for our next event on Twitter -- @seatohio</h2>
    <md-button class="md-raised gradient-button" ng-href="/#browse">
      See past project ideas
    </md-button>
    <br>
  </div>
</div>
