<div class="cover">
  <md-content flex layout-padding>
  <img ng-src="images/seatcover.jpg" alt="" class="img-responsive cover">
     <div class="carousel-caption title full" style="color:black;">
       <h1><strong>Hack For a Cause</strong></h1>
       <br>
       <h4><strong>April 22-23, 2016</strong></h4>
     </div>
  </md-content>
</div>

<div style="margin-top:-50px;">
  <md-content flex layout-padding style="text-align:center;">
    <h2>Sponsored by: </h2>
    <div class="sponsors">
      <img ng-src="images/microsoft.jpg" class="sponsor"/>
      <img ng-src="images/browse.jpg" class="sponsor"/>
      <img ng-src="images/miami1.jpg" class="sponsor"/>
    </div>
    <br>
    <br>
  </md-content>

  <md-card style="width:85%; margin-left:8%;">
    <br>
    <md-content flex layout-padding style="text-align:center;">
      <h2><strong>What is the SEAT Hackathon?</strong></h2>
      <p>The SEAT Hackathon is an event where passionate developers and designers get together in one space and build things for 48 hours straight.
         The objective is not only to build amazing applications, but also to contribute to society and make change you want to see in your communities.
         We’ll provide the food, space, judges, mentors, and the prizes - all you have to do is show up with a laptop and a passion for making things.</p>
      <br>
        <p>Check out the <a ng-href="#/faq" class="link"><strong>FAQs</strong></a></p>
    </md-content>
    <br>
  </md-card>
  <br>

  <img ng-src="images/team.jpg" class="rolesimage">

  <md-content flex layout-padding style="text-align:center; display:inline-block;" class="asdf" layout="row">
    <h2><strong>Event Schedule</strong></h2>
    <h4>Location: Miami University, Armstrong Student Center</h4>

    <div flex-lg flex-gt-lg="65" layout="row">
      <md-card class="eventcard">
          <md-toolbar class="md-info">
            <h2>Saturday April 22nd</h2>
          </md-toolbar>
        <md-card-content>
          <p>9:00am - Check-in</p>
          <p>11:00am - Speaker: Mike Flores (SEAT Chairman)</p>
          <p>11:30pm - Time to create</p>
          <p>5:00pm - Dinner (free)</p>
        </md-card-content>
      </md-card>

      <md-card class="eventcard">
          <md-toolbar class="md-info">
            <h2>Sunday April 23rd</h2>
          </md-toolbar>
        <md-card-content>
          <p>8:00am - Check in</p>
          <p>11:00am - Speaker: Firstname Lastname (Microsoft)</p>
          <p>3:00pm - Final Presentations</p>
          <p>4:30pm - Award Ceremony</p>
        </md-card-content>
      </md-card>
    </div>
  </md-content>

  <md-card>
    <md-content flex layout-padding style="text-align:center;">
      <h2><strong>Getting Started</strong></h2>
      <p>1. Here's the deal: you need to sign up (for free!) to participate in the Hackathon.</p>
      <p>2. Once you click below, you'll see a list of ideas. See one you like? Join the team :)</p>
      <p>3. Have an idea you want to pursue? Click below then post your idea for people to join!</p>
      <p>4. Get involved by engaging on each idea's page. Let people know what you think and how they can improve.</p>
      <md-button class="md-raised brand-color" ng-href="/#browse">
        Get Started
      </md-button>
      <br>
    </md-content>
    <br>
  </md-card>

  <img ng-src="images/hackathon.jpg" style="margin-left:25%; width:50%;">

</div>
