<div class="cover2">
  <md-content flex layout-padding class="backgroundimage">

  </md-content>
</div>

<div flex layout-padding style="text-align:center;" class="bg-1 newhome">
    <div class="title newhome" style="color:white; font-weight:500;">
      <h1 class="title2"><strong>Hack For a Cause</strong></h1>
    </div>
    <br>
    <h2>Sponsored by: </h2>
    <div class="sponsors" layout-md="row" flex layout-xs="column">
      <img ng-src="images/msftlogo.png" class="sponsor"/>
      <img ng-src="images/seatwhite.png" class="sponsor"/>
      <img ng-src="images/miamilogo.png" class="sponsor"/>
    </div>
</div>

<div class="bg-2">
  <div style="background: transparent;">
    <br>
    <md-content flex layout-padding style="text-align:center; background: transparent;" class="newhome">
      <h2 class="title2"><strong>What is the SEAT Hackathon?</strong></h2>
      <p>The SEAT Hackathon is an event where passionate developers and designers get together in one space and build things for 48 hours straight.
         The objective is not only to build amazing applications, but also to contribute to society and make change you want to see in your communities.
         We’ll provide the food, space, judges, mentors, and the prizes - all you have to do is show up with a laptop and a passion for making things.</p>
    </md-content>
  </div>
</div>

<div class="bg-3">
  <md-content flex layout-padding style="text-align:center; display:inline-block; background: transparent;" class="newhome cf" layout="row">
    <h2 class="title2"><strong>Event Schedule</strong></h2>
    <h4>Location: Miami University, Armstrong Student Center</h4>

    <div flex-lg flex-gt-lg="65" layout="row"  layout-xs="column">
      <div class="eventcard animation-block slide-left schedule" style="background: transparent;">
          <div class="newhome">
            <h2><strong>Saturday April 22nd</strong></h2>
          </div>
          <md-divider class="divider"></md-divider>
        <div class="newhome">
          <br>
          <p>9:00am - Check-in</p>
          <p>11:00am - Speaker: Mike Flores (SEAT Chairman)</p>
          <p>11:30pm - Build!</p>
          <p>5:00pm - Dinner (free)</p>
        </div>
      </div>

      <div class="eventcard animation-block slide-left schedule" style="background: transparent;">
          <div class="newhome">
            <h2><strong>Sunday April 23rd</strong></h2>
          </div>
          <md-divider class="divider"></md-divider>
        <div class="newhome">
          <br>
          <p>8:00am - Breakfast</p>
          <p>11:00am - Speaker: Name Name (Microsoft)</p>
          <p>3:00pm - Final Presentations</p>
          <p>4:30pm - Award Ceremony</p>
        </div>
      </div>
    </div>
  </md-content>
</div>

<div class="bg-4">
  <div flex layout-padding style="text-align:center;" class="newhome">
    <h2 class="title3"><strong>Getting Started</strong></h2>
    <p>1. Here's the deal: you need to sign up (for free!) to participate in the Hackathon.</p>
    <p>2. Once you click below, you'll see a list of ideas. See one you like? Join the team :)</p>
    <p>3. Have an idea you want to pursue? Click below then post your idea for people to join!</p>
    <p>4. Get involved by engaging on each idea's page. Let people know what you think and how they can improve.</p>
    <md-button class="md-raised gradient-button" ng-href="/#browse">
      Get Started
    </md-button>
    <br>
  </div>
</div>


<script src="scripts/controllers/home.js"></script>
