<div class="auth-forms title">
  <h2>Login</h2>
  <form name="loginForm" ng-submit="login(user)">

      <md-input-container class="md-block" flex-gt-sm>
        <label>Email address</label>
        <input required type="email" name="emailAddress" ng-model="user.email" ng-pattern="/^.+@.+\..+$/">
        <div ng-messages="loginForm.email.$error" role="alert">
         <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
           Enter an email address, such as <strong>yourName@gmail.com</strong>.
         </div>
       </div>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Password</label>
        <input type="password" ng-model="user.password">
      </md-input-container>

    <md-button type="submit" class="md-raised md-primary">Login</md-button>
  </form>
</div>
