<nav class="navbar brand-color" ng-controller="NavController">
  <div class="container-fluid">

    <span ng-href="#/home">
      <img class="logo" src="../images/seatwhitelogo.jpg" />
    </span>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-left">
        <md-button md-no-ink class="md-primary" ng-href="#/">Home</md-button>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <md-button md-no-ink class="md-primary" ng-href="#/browse">Find a Team</md-button>
        <md-button md-no-ink class="md-primary" data-toggle="modal" ng-show="signedIn()" data-target="#posModal" ng-href="">Post a Project Idea</md-button>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <md-button ng-hide="signedIn()" md-no-ink class="md-primary" ng-href="#/login">Login</md-button>
        <md-button ng-hide="signedIn()" md-no-ink class="md-primary" ng-href="#/register">Register</md-button>

        <div ng-show="signedIn()">
          <button class="md-button brand-color dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <img ng-src="{{currentUser.profile.gravatar}}" class="img-circle gravatar">
            &nbsp;
            {{currentUser.profile.name}}
            <span class="mdi-navigation-expand-more"></span>
          </button>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
              <md-button ng-href="#/profile" md-menu-align-target class="ddmenu md-raised">
                <i class="glyphicon glyphicon-user"> Profile</i>
              </md-button>
            </li>
            <div class="list-group-separator"></div>
            <li>
              <md-button ng-href="" data-toggle="modal" data-target="#pasModal" class="ddmenu md-raised">
                <i class="glyphicon glyphicon-lock"> Change Password</i>
              </md-button>
            </li>
            <div class="list-group-separator"></div>
            <li>
              <md-button ng-href="" ng-click="logout()" class="ddmenu md-raised">
                <i class="glyphicon glyphicon-log-out"> Logout</i>
              </md-button>
            </li>
          </ul>
        </div>

    </ul>
    </div>
  </div>

  <div ng-show="signedIn()" ng-include="'views/partials/changepass.html'"></div>
  <div ng-show="signedIn()" ng-include="'views/partials/post.html'"></div>

</nav>
