<nav class="navbar brand-color" ng-controller="NavController">
  <div class="container-fluid">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class="logo navbar-brand" src="../images/seatwhitelogo.jpg" />
    </div>

    <div class="collapse navbar-collapse" id="navigation-collapse">
      <ul class="nav navbar-nav">
        <li><a ng-href="#/home" md-no-ink class="md-primary">Home</a></li>
        <li><a md-no-ink class="md-primary" ng-href="#/browse">Find an Idea</a></li>
        <li><a data-toggle="modal" ng-show="signedIn()"  md-no-ink data-target="#posModal" class="md-primary" ng-href="#/browse">Post a Project Idea</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a ng-hide="signedIn()" md-no-ink class="md-primary" ng-href="#/login">Login</a></li>
        <li><a ng-hide="signedIn()" md-no-ink class="md-primary" ng-href="#/register">Register</a></li>
        <div ng-show="signedIn()" style="text-align: center;" class="user-profile-in-navbar">
          <button class="md-button brand-color dropdown-toggle name-in-navbar" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

            <img ng-src="{{currentUser.profile.gravatar}}" class="img-circle gravatar">
            &nbsp;
            {{currentUser.profile.name}}
            <span class="mdi-navigation-expand-more"></span>
          </button>

          <ul class="dropdown-menu ddmenu" aria-labelledby="dropdownMenu1">
            <li>
              <md-button ng-href="#/profile" md-menu-align-target class="ddmenu">
                <i class="glyphicon glyphicon-user"> Profile</i>
              </md-button>
            </li>
            <div class="list-group-separator"></div>
            <li>
              <md-button ng-href="" data-toggle="modal" data-target="#pasModal" class="ddmenu">
                <i class="glyphicon glyphicon-lock"> Change Password</i>
              </md-button>
            </li>
            <div class="list-group-separator"></div>
            <li>
              <md-button ng-href="" ng-click="logout()" class="ddmenu">
                <i class="glyphicon glyphicon-log-out"> Logout</i>
              </md-button>
            </li>
          </ul>

        </ul>
      </div>
    </div>

    <div ng-show="signedIn()" ng-include="'views/partials/changepass.html'"></div>
    <div ng-show="signedIn()" ng-include="'views/partials/post.html'"></div>

  </nav>
