body {
  background: #F3F3F3;
}

p {
  margin: 0 0 10px;
}

a, a:hover, a:focus {
  color: #121515;
}

.brand-color {
  background-color: #3F51B5 !important;
  color: white !important;
}

.small-title {
  margin-left: 10px;
  margin-bottom: -10px;
  padding-bottom: none;
}

.md-primary {
  color: white !important;
}

.home-page p {
  z-index: 100;
  opacity: 1;
  font-size: 22px;
  spacing: 10px;
  color: white;
  font-weight: 400;
}

.home-page h2 {
  z-index: 100;
  opacity: 1;
  color: white;
  font-weight: 500;
}

.home-page h4 {
  z-index: 100;
  opacity: 1;
  color: white;
  font-weight: 500;
}

.md-warn:hover {
  color: white;
}

.md-button:not([disabled]):hover {
  background-color: #FF3111;
}

.logo {
  height: 54px;
  width: 73px;
  float: left;
}

/* Form */

.auth-forms {
  max-width:400px;
  margin:0 auto;
  padding:1px 25px 25px 25px;
}

/* Nav Bar */

.navbar {
  margin-bottom: 0px;
  background-color: #3F51B5;
  z-index: 100;
  width: 100%;
  opacity: .9;
}

.ddmenu li {
  width: 100%;
  box-shadow: none;
}

.ddmenu li .md-button:hover {
  background-color: transparent;
  color: #FF3111;
}

.title {
  text-align: center;
  top: 20%;
}

.img-circle.gravatar {
  width: 30px;
  margin-right: 5px;
}

/* Panel */

.panel-title {
  font-weight: bold;
}

.img-browse {
  padding-top: 30px;
}

.panel-success > .panel-heading .badge {
  color: #81C784;
  background-color: #FFFFFF;
  font-size: 15px;
  margin-left: 5px;
}

.panel-warning > .panel-heading .badge {
  background-color: #FFFFFF;
  font-size: 15px;
  margin-left: 5px;
}

.partial {
  padding-left: 30px;
  padding-right: 30px;
}

/* Idea List */

.list-group-item {
  margin-top: -20px;
}

.list-group .list-group-item .row-picture img {
  width: 50px;
  height: 50px;
}

.idea-card {
  padding: 12px;
}

/* Comments */

.well.well-sm.cmt {
  color: #5E5E5E;
  font-size: 14px;
}

.cmt-title {
  font-weight: bold;
  text-decoration: underline;
}

.cmt-time {
  font-size: 12px;
}

.img-circle.comment.gravatar {
  width: 35px;
  margin-right: 5px;
}

.idea-card:hover {
  transition: all .2s cubic-bezier(.55, 0, .55, .2);
  -webkit-box-shadow: #3c3Da5 0px 2px 10px 0px;
}

.teamimage {
  float: left;
}

.teamname {
  padding-left: 15px;
  float: left;
}

.popular {
  color: #FF3111;
  size: 100%;
  height: 20px;
  width: 20px;
  padding-left: 15px;
}

.popular-text {
  font-size: 13px;
  padding-left: 25px;
  font-weight: bold 400;
  color: #FF3111 !important;
}

/* Home */

.cover2 {
  background-image: url("../images/cover1.jpg");
  width: 100%;
  margin-bottom: 50px;
  position: fixed;
  opacity: .15;
  height: 107%;
  background-position: center center;
  background-size: cover;
}

.sponsor-miami {
  width: 40%;
  z-index: 150;
  opacity: 1;
  padding: 40px;
  padding-top: 45px;
}

.sponsor-seat {
  width: 50%;
  z-index: 150;
}

.sponsor-microsoft {
  width: 50%;
  z-index: 150;
  padding: 40px;
}

.sponsor {
  width: 100%;
}

.sponsor-block {
  width: 200px;
  height: 200px;
  opacity: .8;
  background-color: white;
  margin: 30px;
  z-index: 100;
}

.sponsors {
  padding: 20px;
  width: 100%;
  height: auto;
  background-color: transparent;
}

.content-row {
  display: inline;
  align: middle;
  text-align: center;
  margin: auto;
}

.list h4 {
  margin-bottom: 5px;
}

.rolesimage {
  width: 60%;
  min-width: 20%;
  margin-left: 20%;
  margin-top: 0px;
  padding-top: 0px;
}

/* Footer */

.footer {
  padding-top: 5px;
  text-align: center;
  background: transparent;
  width: 103%;
  margin-left: -20px;
}

.icons {
  decoration: none;
  padding: 0.2em;
}

.eventcard {
  margin: 25px;
  padding: 25px;
}

/* Background */

.bg-1 {
  width: 103%;
  height: 100%;
  padding: 100px;
  padding-top: 200px;
  margin-right: none;
  margin-left: -19px;
  margin-top: -75px;
  margin-bottom: none;
  background: -webkit-linear-gradient(black, #6292F0);
  background: -o-linear-gradient(black, #6292F0);
  background: -moz-linear-gradient(black, #6292F0);
  background: linear-gradient(black, #6292F0);
  background-position: center center;
}
.bg-2 {
  width: 103%;
  height: 100%;
  padding: 100px;
  margin: none;
  margin-left: -19px;
  background: -webkit-linear-gradient(#6292F0, #3c3Da5);
  background: -o-linear-gradient(#6292F0, #3c3Da5);
  background: -moz-linear-gradient(#6292F0, #3c3Da5);
  background: linear-gradient(#6292F0, #3c3Da5);
  background-size: cover;
}
.bg-3 {
  width: 103%;
  height: 100%;
  padding: 100px;
  margin-right: none;
  margin-left: -19px;
  margin-top: none;
  margin-bottom: none;
  background: -webkit-linear-gradient(#3c3Da5, #6f2d52);
  background: -o-linear-gradient(#3c3Da5, #6f2d52);
  background: -moz-linear-gradient(#3c3Da5, #6f2d52);
  background: linear-gradient(#3c3Da5, #6f2d52);
  background-size: cover;
}
.bg-4 {
  width: 103%;
  height: 100%;
  padding: 100px;
  padding-bottom: 250px;
  margin-right: none;
  margin-left: -19px;
  margin-top: none;
  margin-bottom: -110px;
  opacity: 1;
  background: -webkit-linear-gradient(#6f2d52, #082352);
  background: -o-linear-gradient(#6f2d52, #082352);
  background: -moz-linear-gradient(#6f2d52, #082352);
  background: linear-gradient(#6f2d52, #082352);
  background-size: cover;
}

.title2 {
  font-size: 4em;
  font-weight: 400;
  background: linear-gradient(320deg, #e05252 0%, #52e0e0 25%, #FF5722 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title3 {
  font-size: 4em;
  font-weight: 400;
  background: linear-gradient(320deg, #e05252 0%, #52e0e0 25%, #9952e0 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-button {
  font-weight: 400;
  padding: 10px;
  font-size: 2em;
  border: 2px solid #5EB3B3;
  background: linear-gradient(320deg, #e05252 0%, #52e0e0 25%, #FF5722 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .85;
}

.gradient-button:hover {
  font-weight: 500;
  padding: 11px;
  font-size: 2em;
	border: 2px white solid;
  opacity: 1;
  z-index: 100;
}

.divider {
  background-color: white;
}

.animation-block {
  opacity: 0;
}

.animation-block.slide-left {
  opacity: 0;
  -moz-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-block.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-block.slide-left.schedule {
  box-shadow: 0px 1px 1px 0px white;
  border: solid 1px white;
}
.animation-block.slide-left.schedule:hover,
.animation-block.slide-left.schedule:active{
  box-shadow: 0px 1px 6px 0px gray;
}





@media only screen and (max-width: 768px) {
    .title2 {
      font-size: 60px;
    }

    .md-display-4 {
      font-size: 65px;
    }

    .md-display-3 {
      font-size: 40px;
    }

    .md-display-1 {
      font-size: 26px;
    }

    .md-headline {
      font-size: 20px;
    }

    .bg-1 {
      width: 103%;
      padding: 100px;
      padding-top: 175px;
      padding-left: 25px;
      padding-right: 25px;
    }

    .bg-2 {
      width: 103%;
      padding: 100px;
      padding-left: 25px;
      padding-right: 25px;
    }

    .bg-3 {
      width: 103%;
      padding: 100px;
      padding-left: 25px;
      padding-right: 25px;
    }

    .bg-4 {
      width: 103%;
      padding: 100px;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 125px;
    }

    .sponsor-miami {
      z-index: 150;
      opacity: 1;
      padding: 0;
      padding-top: 15px;
      min-height: 50px;
    }

    .sponsor-title {
      margin-top: 50px;
      padding-top: 50px;
    }

    .sponsor-seat {
      z-index: 150;
      padding: 0;
    }

    .sponsor-microsoft {
      z-index: 150;
      padding: 0;
    }

    .sponsor {
      min-width: 75px;
      width: 100%;
      height: 100%;
      padding-left: 30px;
      padding-right: 30px;
      margin-top: -20px;
      margin-bottom: -20px;
    }

}

@media only screen and (max-width: 500px) {
    .title2 {
      font-size: 45px;
    }

    .title3 {
      font-size: 45px;
    }

    .gradient-button {
      margin: 0;
      margin-bottom: 60px;
      font-size: 1.2em;
    }

    .eventcard {
      margin: 0;
      padding: 30px;
      width: 100%;
    }

    .md-display-4 {
      font-size: 45px;
    }

    .md-display-3 {
      font-size: 30px;
    }

    .md-display-1 {
      font-size: 18px;
    }

    .md-headline {
      font-size: 15px;
    }

    .link {
      font-size: 13px;
    }

    .bg-1 {
      width: 105%;
      padding: 45px;
      padding-top: 175px;
    }

    .footer {
      width: 105%;
    }

    .bg-2 {
      width: 105%;
      padding: 45px;
    }

    .bg-3 {
      width: 105%;
      padding: 45px;
    }

    .bg-4 {
      width: 105%;
      padding: 45px;
      padding-bottom: 100px;
    }

    .sponsor-miami {
      width: 100%;
      z-index: 150;
      opacity: 1;
      padding: 0;
      padding-top: 15px;
      min-height: 50px;
    }

    .sponsor-title {
      margin-top: 50px;
      padding-top: 50px;
    }

    .sponsor-seat {
      width: 100%;
      z-index: 150;
      padding: 0;
    }

    .sponsor-microsoft {
      width: 100%;
      z-index: 150;
      padding: 0;
    }

    .sponsor {
      min-width: 75px;
      width: 100%;
      height: 100%;
      padding-left: 30px;
      padding-right: 30px;
      margin-top: -10px;
      margin-bottom: -10px;
    }

}
