body {
  background: #F3F3F3;
}

p {
  margin: 0 0 10px;
}

a, a:hover, a:focus {
  color: #121515;
}

.brand-color {
  background-color: #3F51B5 !important;
  color: white !important;
}

.md-primary {
  color: white !important;
}

.md-warn:hover {
  color: white;
}

.md-button:not([disabled]):hover {
  background-color: #FF3111;
}

.logo {
  height: 47px;
  width: 65px;
  float: left;
}

/* Form */

.auth-forms {
  max-width:400px;
  margin:0 auto;
  padding:1px 25px 25px 25px;
}

/* Nav Bar */

.navbar {
  margin-bottom: 0px;
  background-color: #3F51B5;
  z-index: 2000;
}

.ddmenu li {
  width: 100%;
  box-shadow: none;
}

.ddmenu li .md-button:hover {
  background-color: transparent;
  color: #FF3111;
}

.title {
  text-align: center;
  top: 20%;
}

.img-circle.gravatar {
  width: 30px;
  margin-right: 5px;
}

/* Panel */

.panel-title {
  font-weight: bold;
}

.img-browse {
  padding-top: 30px;
}

.panel-success > .panel-heading .badge {
  color: #81C784;
  background-color: #FFFFFF;
  font-size: 15px;
  margin-left: 5px;
}

.panel-warning > .panel-heading .badge {
  background-color: #FFFFFF;
  font-size: 15px;
  margin-left: 5px;
}

.partial {
  padding-left: 30px;
  padding-right: 30px;
}

/* Idea List */

.list-group .list-group-item .row-picture img {
  width: 50px;
  height: 50px;
}

.list-group .list-group-item .list-group-item-heading {
  color: rgba(0,0,0,.77);
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
}

.list-group .list-group-item .row-content {
  float: left;
  margin-top: 0;
  width: 40%;
  width: calc(100% - 130px);
  height: 60px;
}

.list-group-item-text {
  font-size: 12px;
  margin-bottom: 0;
  line-height: 1.3;
}

/* Comments */

.well.well-sm.cmt {
  color: rgba(94, 94, 94, 1);
  font-size: 14px;
}

.cmt-title {
  font-weight: bold;
  text-decoration: underline;
}

.cmt-time {
  font-size: 12px;
}

.img-circle.comment.gravatar {
  width: 35px;
  margin-right: 5px;
}

md-card:hover {
  transition: all .3s cubic-bezier(.55, 0, .55, .2);
  -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 10px 0px;
}

.teamimage {
  float: left;
}

.teamname {
  padding-left: 15px;
  float: left;
}

.popular {
  color: #FF3111;
  size: 100%;
  height: 20px;
  width: 20px;
  padding-left: 20px;
}

/* Home */

.cover {
  width: 100%;
  margin-top: -19px;
  margin-bottom: 30px;
  height: 107%;
  background-position: center center;
  background-repeat: no-repeat;
}

.cover2 {
  background-image: url("../images/cover1.jpg");
  width: 107%;
  margin-top: -40px;
  margin-bottom: 50px;
  margin-left: -35px;
  position: fixed;
  opacity: .15;
  height: 107%;
  background-size: cover;
}


.sponsor {
  width: 15%;
  height: auto;
  display: inline;
}

.sponsors {
  display: inline-block;
  margin-top: -20px;
}

.content-row {
  display: inline;
  align: middle;
  text-align: center;
  margin: auto;
}

.list h4 {
  margin-bottom: 5px;
}

.rolesimage {
  width: 60%;
  min-width: 20%;
  margin-left: 20%;
  margin-top: 0px;
  padding-top: 0px;
}

/* Footer */

.footer {
  padding-top: 5px;
  text-align: center;
  background: transparent;
}

.icons {
  decoration: none;
  padding: 0.2em;
}

.eventcard {
  margin: 25px;
  padding: 25px;
}

/* Background */

.bg-1 {
  width: 103%;
  height: 100%;
  padding: 100px;
  padding-top: 200px;
  margin-right: none;
  margin-left: -19px;
  margin-top: -75px;
  margin-bottom: none;
  background: -webkit-linear-gradient(black, #6292F0);
  background: -o-linear-gradient(black, #6292F0);
  background: -moz-linear-gradient(black, #6292F0);
  background: linear-gradient(black, #6292F0);
  background-size: cover;
}
.bg-2 {
  width: 103%;
  height: 100%;
  padding: 100px;
  margin: none;
  margin-left: -19px;
  background: -webkit-linear-gradient(#6292F0, #3c3Da5);
  background: -o-linear-gradient(#6292F0, #3c3Da5);
  background: -moz-linear-gradient(#6292F0, #3c3Da5);
  background: linear-gradient(#6292F0, #3c3Da5);
  background-size: cover;
}
.bg-3 {
  width: 103%;
  height: 100%;
  padding: 100px;
  margin-right: none;
  margin-left: -19px;
  margin-top: none;
  margin-bottom: none;
  background: -webkit-linear-gradient(#3c3Da5, #6f2d52);
  background: -o-linear-gradient(#3c3Da5, #6f2d52);
  background: -moz-linear-gradient(#3c3Da5, #6f2d52);
  background: linear-gradient(#3c3Da5, #6f2d52);
  background-size: cover;
}
.bg-4 {
  width: 103%;
  height: 100%;
  padding: 100px;
  padding-bottom: 250px;
  margin-right: none;
  margin-left: -19px;
  margin-top: none;
  margin-bottom: -110px;
  background: -webkit-linear-gradient(#6f2d52, #082352);
  background: -o-linear-gradient(#6f2d52, #082352);
  background: -moz-linear-gradient(#6f2d52, #082352);
  background: linear-gradient(#6f2d52, #082352);
  background-size: cover;
}

.newhome p {
  z-index: 2000;
  opacity: 1;
  color: white;
  font-weight: 400;
}

.newhome h2 {
  z-index: 2000;
  opacity: 1;
  color: white;
  font-weight: 400;
}

.newhome h4 {
  z-index: 2000;
  opacity: 1;
  color: white;
  font-weight: 400;
}

.title2 {
  font-size: 4em;
  font-weight: 400;
  background: linear-gradient(320deg, #e05252 0%, #52e0e0 25%, #FF5722 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title3 {
  font-size: 4em;
  font-weight: 400;
  background: linear-gradient(320deg, #e05252 0%, #52e0e0 25%, #9952e0 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-button {
  font-weight: 400;
  padding: 10px;
  font-size: 2em;
  border: 2px solid;
  background: linear-gradient(320deg, #e05252 0%, #52e0e0 25%, #FF5722 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .85;
}

.gradient-button:hover {
  font-weight: 500;
  padding: 11px;
  font-size: 2em;
	border: 2px white solid;
  opacity: 1;
  z-index: 500;
}

.divider {
  background-color: white;
}

.animation-block {
  opacity: 0;
}

.animation-block.slide-left {
  opacity: 0;
  -moz-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-block.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-block.slide-left.schedule {
  box-shadow: 0px 1px 1px 0px white;
  border: solid 1px white;
}
.animation-block.slide-left.schedule:hover,
.animation-block.slide-left.schedule:active{
  box-shadow: 0px 1px 6px 0px gray;
}
